body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  text-indent: 10%;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
}

.sidebar a {
  display:inherit;
  color: black;
  padding: 16px;
  text-decoration: none;
}   
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 350px;
  padding: 100px 16px;
  height: 1000px;
}

section {
    font-size: 1.0rem;
    font-weight: 500;
    width:60%;
    margin-top: 150px;
}        

.icons {
    display: inline;
    margin-top:10px;

}

img {
    height: auto;
    width: 100%;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  section {
    width:100%
    }
}
