/* Styling for the collapsed menu */
@media (max-width: 767.98px) {
	.navbar-nav {
		margin-top: 10px;
	}

	.navbar-nav .btn {
		margin-bottom: 10px;
	}
}

/* Fancy styling for the main content */
.card {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
}

.card-title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 0px;
}

p {
	font-size: 16px;
	color: #333;
	margin-bottom: 5px;
}

li {
	margin-bottom: 5px;
}

/* Styling for buttons */
.btn {
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

.iframe-report {
	position: absolute; 
	top: 5px; 
	bottom: 5px; 
	width:100%;
	height: 100%;
}

.iframe-div {
	/*overflow: hidden; */
	padding-bottom: 65%; 
	position: relative;
	
}

.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .badge-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
    margin: 0 10px; /* Adjust the margin as needed */
  }